{% extends "basic/base.html.jinja" %}
{% load static %}

{% block content %}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bold">Nasze samochody</h1>
        <p class="lead text-muted">Wybieraj spośród wielu naszych niesamowitych pojazdów do wynajęcia na następną przygodę lub podróż służbową.</p>
      </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-1.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-6.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-7.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-2.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-3.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-5.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-12.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-11.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-8.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-3.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded"> 
                <div class="d-flex align-items-end">
                    <img class="img img-fluid rounded" src="{% static 'images/mock/car-4.jpg' %}" alt="car">
                </div>
                <div class="text">
                    <h2 class="mb-0"><a class="text-decoration-none" href="#">Range Rover</a></h2>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/dzień</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-danger py-2 me-1">Wynajmij</a> <a href="#" class="btn btn-outline-secondary py-2 ml-1">Szczegóły</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}