{% extends "basic/base.html.jinja" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">{% trans "Congratulations!" %}</h4>
        <p>{% trans "Your car rental was successful. Enjoy your journey with our car! Please return the car in good condition and on time. Have a safe trip!" %}</p>
        <hr>
    </div>

{% endblock content %}
