{% extends "basic/base.html.jinja" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div style="width: 70%;" class="mx-auto px-5 p-3 bg-light rounded">
        <h3 class="text-center display-5 fw-bold mt-5">{% trans "Rental" %}</h3>
        <hr>
        <form class="mt-5" action="" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 form-group text-muted">
                    {% if order_form.non_field_errors %}
                        <ul class="errorlist">
                            {% for error in order_form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% for field in order_form.visible_fields %}
                        {{ field.label_tag }}
                        {% if field.name == 'order_value' %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                {{ field }}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                        <ul class="errorlist">
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    {% endfor %}

                </div>
            </div>
            <hr class="mt-5">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success mt-3 mb-3">{% trans "Book" %}</button>
            </div>
        </form>
    </div>
    <ul>
</ul>


{% endblock content %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const pickupDateInput = document.getElementById('id_pickup_date');
            const returnDateInput = document.getElementById('id_return_date');
            const orderValueInput = document.getElementById('id_order_value');
            const dailyRate = {{car_price}};

            function calculateOrderValue() {
                const pickupDate = new Date(pickupDateInput.value);
                const returnDate = new Date(returnDateInput.value);

                if (pickupDate && returnDate && returnDate > pickupDate) {
                    const days = (returnDate - pickupDate) / (1000 * 60 * 60 * 24);
                    const orderValue = days * dailyRate;
                    orderValueInput.value = orderValue.toFixed(2);
                } else {
                    orderValueInput.value = '';
                }
            }

            pickupDateInput.addEventListener('change', calculateOrderValue);
            returnDateInput.addEventListener('change', calculateOrderValue);
        });
    </script>
{% endblock scripts %}

