{% extends "basic/base.html.jinja" %}
{% load static %}
{% load i18n %}

{% block content %}
    {% if message  == 'success' %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">{% trans 'Congratulations!' %}</h4>
            <p>{% trans 'Your registration was successful. Welcome to our community! Now you can enjoy all the features of our platform. Enjoy the adventure with us!' %}</p>
            <hr>
        </div>

    {% else %}
        <div style="width: 70%;" class="mx-auto px-5 p-3 bg-light rounded">
            <h3 class="text-center display-5 fw-bold mt-5">{% trans 'Registration Form:' %}</h3>
            <hr>
            <form class="mt-5" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-lg-6 form-group text-muted">

                        {% for field in register_user_form.visible_fields %}
                            {{ field.label_tag }}
                            {{ field }}
                            <ul class="errorlist">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            {% if register_user_form.errors %}
                                {% if field.help_text %}
                                    <ul class="helptext">
                                        <li>{{ field.help_text }}</li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12 col-lg-6 form-group text-muted">

                        <!-- Ukryte pola formularza zestawu adresów -->
                        {{ register_address_form.management_form }}

                        {% for form in register_address_form.forms %}
                            {% for field in form.visible_fields %}
                                {{ field.label_tag }}
                                {{ field }}
                                <ul class="errorlist">
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                                {% if form.errors %}
                                    {% if field.help_text %}
                                        <ul class="helptext">
                                            <li>{{ field.help_text }}</li>
                                        </ul>
                                    {% endif %}
                                {% endif %}     
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <hr class="mt-5">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-success mt-3 mb-3">{% trans 'Sign-Up' %}</button>
                </div>
            </form>
        </div>

    {% endif %}

{% endblock content %}
