{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">

        <img src="{% static 'images/logo.png' %}" alt="{% trans 'logo' %}" height="36">
        <h1 class="fs-5 d-inline-block">{% trans 'CarRental' %}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">{% trans 'Home' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'cars' %}">{% trans 'All cars' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">{% trans 'About us' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">{% trans 'Contact' %}</a>
        </li>
        
        {%if request.user.is_authenticated %}
          <div class="d-flex align-items-center ms-5">
            <span class="text-white me-3">{% trans 'Hi' %}, {{ request.user.username }} </span>
            <a role="button" href="{% url 'logout' %}" class="btn btn-outline-danger">{% trans 'Log out' %}</a>
          </div> 
        {% else %}
          <div class="btn-group ms-5">
            <a role="button" href="{% url 'login' %}" class="btn btn-outline-danger">{% trans 'Login' %}</a> 
            <a role="button" href="{% url 'register' %}" class="ms-3 btn btn-danger">{% trans 'Sign-Up' %}</a>
          </div>
        {% endif %} 
      </ul>
    </div>
  </div>
</nav>
